<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head', {stylesheets: ['drive.css', 'item.css']})
    %>
  </head>
  <body>
    <nav>
      <p><img src="/icons/odin-logo.svg" alt="logo" />Odin Drive</p>
      <a href="/logout">Logout</a>
    </nav>
    <main>
      <div class="container-div">
        <header>
          <h2>
            <%= locals.folder.name === 'root' ? 'My Drive' : locals.folder.name
            %>
          </h2>
          <div>
            <button onclick="showDialog('new-folder-dialog')">
              New Folder
            </button>
            <button onclick="showDialog('new-file-dialog')">New File</button>
          </div>
        </header>
        <div class="file-display">
          <% locals.folder.folders.forEach(folder => {%> <%-
          include('./components/folder', {folder}) %> <% }) %> <%
          locals.folder.files.forEach(file => {%> <%-
          include('./components/file', {file}) %> <% }) %>
        </div>
        <div class="file-footer">
          <p><b>File path: </b><%= locals.filePath %></p>
        </div>
      </div>
    </main>

    <dialog id="new-folder-dialog">
      <div>
        <button
          class="close-dialog-btn transparent-button"
          onclick="closeDialog('new-folder-dialog')"
        >
          <img src="/icons/close.svg" alt="close dialog" />
        </button>
        <form
          action="<%= `/drive/create-folder/${locals.folder.id}` %>"
          method="post"
        >
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Untitled folder"
          />
          <button type="submit">Create</button>
        </form>
      </div>
    </dialog>
    <dialog id="new-file-dialog">
      <div>
        <button
          class="close-dialog-btn transparent-button"
          onclick="closeDialog('new-file-dialog')"
        >
          <img src="/icons/close.svg" alt="close dialog" />
        </button>
        <form
          action="<%= `/drive/create-file/${locals.folder.id}` %>"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file"><input type="file" name="file" id="file" /></label>
          <button type="submit">Create</button>
        </form>
      </div>
    </dialog>

    <script>
      function showDialog(id) {
        const dialog = document.getElementById(id);
        dialog.showModal();
      }
      function closeDialog(id) {
        const dialog = document.getElementById(id);
        dialog.close();
      }
    </script>
  </body>
</html>
